<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Activités Sportives</title>
    <script src="../assets/vendor/Vue.js/vue.js"></script>
    <!-- Vuetifyjs -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <!-- Font -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../assets/css/mdb.min.css" rel="stylesheet">
    <!-- custom styles -->
    <link href="../assets/css/site_vuejs.css" rel="stylesheet">
    <!-- leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"/>
    <!-- Leaflet's JS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark transparent">
        <a class="navbar-brand" href="#"><strong>Découvrez les installations sportives du Pays de la Loire</strong></a>
      </nav>
     <img id="image" src="../assets/img/ImageBackground.png" class="img-fluid" alt="Background activités">
    </header>

    <div id="app">
      <div id="recherche">
        <template>
          <v-container grid-list-md text-xs-center>
            <v-layout row wrap>
              <v-flex xs8  id="boxRecherche"> 
                <v-text-field id="field" label="Quel activité cherchez vous ?" box v-model="search" list="activites"></v-text-field>
              </v-flex>
              <v-flex xs4>
                <div>
                  <p>Installation accès handicapé</p>
                  <input type="checkbox" id="checkbox" name="handicap" v-model="checked">
                  <label for="checkbox">
                    <i v-if="checked" class="fas fa-wheelchair" style="color: green;"></i>
                    <i v-if="!checked" class="fas fa-wheelchair" style="color: red;"></i>
                  </label>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
        </template>
      </div>

      <v-container>
        <v-dialog v-model="dialog" width="30%">       
            <template slot="activator">
                <v-item-group>
                    <v-container grid-list-md >
                        <v-layout wrap >                
                            <v-flex v-for="(activite, i) in filteredList" :key="i" md3 overflow-hidden>
                                <v-item >
                                    <v-card hover class="d-flex align-center" height="100%;" v-on:click="selectActivite(activite)">
                                      <v-card-title primary-title>
                                          <h6 :key="i">{{activite}}</h6>
                                      </v-card-title>
                                    </v-card>
                                </v-item>
                            </v-flex>
                      </v-layout>
                    </v-container>
                </v-item-group>
            </template>        
          <v-card>
            <template>
              <div class="text-xs-center">
                <v-card>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12>
                        <v-card-title>
                        <span class="headline">Lieu de pratique</span>
                        </v-card-title>
                        <v-card-text>
                          <a href="" target="_blank">
                            <p v-for="nomUsuelInstallation in nomsUsuelsInstallations" v-on:click="selectInstallation(nomUsuelInstallation)">{{nomUsuelInstallation}}</p>
                          </a>
                        </v-card-text>
                      </v-flex>
<!--                  <v-flex xs6>  
                        <v-card-text>
                          <div id="mapid"></div>
                        </v-card-text>                         
                      </v-flex>-->
                      <v-flex xs12>                     
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="primary" flat @click="dialog = false">Fermer</v-btn>
                        </v-card-actions>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card>
              </div>
            </template>
          </v-card>
        </v-dialog>
      </v-container>
    </div>

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../assets/JavaScript/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../assets/JavaScript/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../assets/JavaScript/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../assets/JavaScript/mdb.js"></script>
  <!-- custom script -->
  <script type="text/javascript" src="../assets/JavaScript/script.js"></script>
  <script type="text/javascript" src="../assets/JavaScript/site_vuejs_v2.js"></script>
  <!--vuetifyjs-->
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
</body>
</html>
