body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: block;
	min-height: 200vh;
}
/* HEADER */
#image {
	margin-top: -50px;
	width: 100%;
}
/* APP */
#app {
	margin-top: 50px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#recherche {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#mapid { 
	height: 300px; 
	width: 300px;
}
@media (min-width: 960px) {
	.flex.md3 {
	    min-width: 150px;
	}
}